// app global css in SCSS form
$header-height: 50px;
$container-width: 1200px;


// general mixins

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}


// end general mixins
.personalOffice {
  width: 100%;
  max-width: $container-width;
  margin: $header-height auto 0;


  .personal-info__wrap {
    width: 100%;
    padding-top: $header-height;
    @include flexbox();
    @include justify-content(space-between);
  }

  .modalWindow {
    margin-top: 40px;
  }

  .personal-password__edit {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 0;
    border-style: outset;
    border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
    border-image: initial;
    margin: 10px 0 0;
    text-decoration: underline;
    background-color: white;
    color: #31CCEC;
    font-size: 115%;
  }

  .MainLayout {
    padding: 0;
  }

  .personal-info__tooltip {
    display: none;
    position: absolute;
    background: white;
    width: 200px;
    top: 100px;
    left: 30px;
    box-shadow: 0 0 5px;

    &:after {
      content: '';
      position: absolute; /* Абсолютное позиционирование */
      left: 20px;
      bottom: 60px; /* Положение треугольника */
      border: 10px solid transparent; /* Прозрачные границы */
      border-top: 10px solid white; /* Добавляем треугольник */
      transform: rotateZ(180deg);
    }

    &-wrapper {
      position: relative;

      &:hover {
        .personal-info__tooltip {
          display: block;
        }
      }
    }
  }

  .personal-info__block {
    @include flexbox();
    margin-top: -20px;
  }

  .personal-info__image {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;

    .personal-info__image_contact {
      max-height: 100px;
      max-width: 100px;
      cursor: pointer;
    }
  }

  .buttonImgEdit {
    margin-left: -15px;
    margin-top: -15px;
    font-style: normal;
    color: #ef6839;
  }

  .personal-info__personal-information {
    @include flexbox();
    @include align-items(center);
    font-size: 200%;
  }


  .personal-info__contacts {
    @include flexbox();
    @include align-items(center);
    flex-direction: column;
    margin-top: 20px;
    margin-left: -20px;
  }

  .personal-info__tooltip-wrapper {
    @include flexbox();
    @include align-items(center);
    max-width: 100%;
    margin-right: 5px;
  }

  .personal-contact__editButton {
    margin-left: 25px;

  }

  .personal-contact__buttonEdit {
    q-btn.q-btn-item.non-selectable.no-outline.buttonPlus.q-btn--standard.q-btn--rectangle.q-btn--rounded.bg-indigo.text-white.q-btn--actionable.q-focusable.q-hoverable.q-btn--fab.q-btn--wrap {
      position: absolute;
      right: 0;
      width: 20px;
      height: 20px;
    }
  }


  img {
    opacity: 0.45;
    max-width: 75px;
    height: auto;
  }
}

.personal-information__buttonEdit {
  width: 20px;
  height: 20px;
  margin-top: -35px;
  margin-left: -20px;
  opacity: 0;
}


.information__edit-icon {
  height: 20px;
  width: 20px
}

.personal-info__birthday {

  .personal-birthday-select {
    @include flexbox();
    @include align-items(center);

    & > div {
      margin-right: 10px;
    }
  }

  .personal-birthday__icon {
    @include flexbox();
    @include align-items(center);
    margin-bottom: 15px;

    .personal-info__icon-birthday {
      max-height: 70px;
      max-width: 110px;
      padding-right: 5px;
      padding-top: 5px;
    }

    img {
      display: block;
      margin-right: 10px;
      opacity: 0.45;
      max-width: 30px;
      height: 100%;
      align-self: flex-start;
    }

    p {
      margin: 0;
    }
  }

  .buttonPlus {
    background: #1D1D1D;
    top: 25px;
  }
}


.personal-select__months {
  -webkit-writing-mode: horizontal-tb !important;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  margin: 0;
  font: 400 13.3333px Arial;
  border-radius: 0;
  border-width: 0;
  border-style: solid;
  border-image: initial;
  border-color: #ffffff;
}

.selectNumber-select {
  outline: none;
  -webkit-writing-mode: horizontal-tb !important;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  margin: 0;
  font: 400 13.3333px Arial;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-image: initial;
}

.personal-information__editButton {
  width: 20px;
  height: 10px;
  border-color: #1D1D1D;
}

.personal-birthday__titleTwo {
  font-size: 200%;
}

.progressBar {

  .progressBar-progress {
    width: 100%;
  }

  .progressBar-bonus {
    padding-bottom: 20px;
  }

  .personal-bonus__titleTwo {
    padding-top: 25px;
  }
}

.personal-bonus__lvl-cashback {
  padding-left: 10px;
  padding-bottom: 50px;
  font-size: 150%;
}

.progressBar {
  @include flexbox();
  @include align-items(left);
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}

.progress-bar__score {
  @include flexbox();
  @include align-items(center);
  width: 100%;
}

.score_img-bonus {
  height: 20px;
  width: 20px;
}

.score-price {
  font-size: 150%;
}

.tooltip-wrapper__button-img {
  border: 2px solid #ef6839;
  width: 30px;
  height: 30px;
  margin-left: -30px;
  margin-top: -40px;
  background-color: white;

}

.progressBar-title-bonus {
  font-size: 200%;
}

.q-pa-md {
  padding: 0;
}

.personal-bonus__rules {
  padding-top: 25px;
  margin-top: 0;
  color: gray;
}

.progress-bar__line {

  &-wrapper {
    position: relative;
    margin: 40px 0 130px;
  }

  &-point {
    bottom: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d3d3d3;
    position: absolute;

    &.active {
      background: #EF6839;
    }
  }

  &-block {
    position: absolute;
    z-index: 3;
    bottom: 0;
  }

  &-gray {
    height: 2px;
    background: #d3d3d3;
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
  }

  &-yellow {
    background: #EF6839;
    height: 2px;
    z-index: 2;
    position: absolute;
    left: 0;
  }
}

.progress-bar__info {
  @include flexbox();
  @include align-items(center);
  flex-direction: column;
  height: 40px;
  min-width: 40px;
  margin: 0 0 10px -10px;
}

.bonus-info-sum_img {
  height: 60px;
  width: 40px;
}

.bonus-info-sum_price {

}

.progress-bar__personal-bonus {

}

.progress-bar__bonus-info {
  @include flexbox();
  @include align-items(center);
  position: absolute;
  bottom: -70px;
}

.bonus-info__title_img {
  transform: rotateZ(45deg);
  margin-left: -10px;
  padding-right: 10px;
}

footer {
  .ellipsis {
    white-space: normal;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
}

.MainLayout-footer {
  width: 100%;
  height: 200px;
  max-height: 350px;
  padding-top: $header-height;
  @include flexbox();
  @include justify-content(space-between);
  background: #fff;

  &__toolbar {
    margin: 0 auto;
  }

  p {
    font-size: 60%;
  }
}

.MainLayout-footer__contact-info {
  @include flexbox();
  @include align-items(center);
  padding-right: 100px;
  flex-direction: column;
}

.contact-info {
  @include flexbox();
  @include align-items(center);
  margin-top: -17px;
  margin-left: 1px;
}

.constant-info__title {
  @include flexbox();
  @include align-items(center);
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.title__icon-logo {
  height: 55px;
  width: 60px;
}

.title__title-name {
  font-size: 90%;
  color: #1D1D1D;
  cursor: pointer;
  min-width: 300px;
}

.contact-info__title-info {
  color: #1D1D1D;
}

.contact-information__title-number {
  margin-right: 30px;
  color: #1D1D1D;
}

.contact-information__title-mail {
  margin-top: -20px;
  color: #1D1D1D;
}

.MainLayout-footer__contact-information {
  @include flexbox();
  @include align-items(center);
  padding-right: 80px;
  flex-direction: column;
  margin-top: -10px;
}

.MainLayout-footer__info-social {
  @include flexbox();
  @include align-items(center);
  margin-left: -150px;
  flex-direction: column;
  margin-top: 15px;
}

.cashless-payment__title {
  max-width: 170px;
}

.info-social__cashless-payment {
  @include flexbox();
  @include align-items(center);
  margin-right: 200px;
}

.cashless-payment__icon {
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-right: 10px;
}

.title__title-info {
  width: 170px;
  padding-left: 10px;
  color: #1D1D1D;
  margin-right: 130px;
}

.MainLayout-footer__info-social-link {
  @include flexbox();
  @include align-items(center);
  margin-right: 100px;
  padding-left: 5px;
  padding-right: 20px;
  margin-left: 90px;
  margin-top: -10px;
}

.info-social-link__iconVk {
  height: 55px;
  width: 90px;
}

.info-social-link__linkVk {
  color: #5dcce8;
  font-size: 70%;
  margin-right: 30px;
  margin-left: -15px;
}

.info-social-link__iconInstagram {
  height: 35px;
  width: 50px;
  padding-right: 5px;
}

.personal-birthday-button {
  width: 200px;
  height: 40px;
  font-size: 110%;
}

.info-social-link__Instagram {
  color: #5dcce8;
  padding-left: 5px;
  font-size: 80%;
}

.info-superdostavka__work-info {
  @include flexbox();
  @include align-items(center);
  margin-left: -100px;

}

/*.MainLayout-footer__info-superdostavka {
  @include flexbox();
  @include align-items(center);
  width: 100%;
}*/

.work-info__iconFour {
  height: 55px;
  width: 60px;
  margin-right: 5px;
}

.work-info__title {
  @include flexbox();
  @include align-items(center);
  flex-direction: column;
}

.title__work {
  color: #1D1D1D;
  margin-top: 20px;
}

.title__link {
  color: #5dcce8;
  font-size: 80%;
  margin-top: -20px;
}

.MainLayout-header__toolbar {
  margin: 0 auto;
}
